:root{
    --mainColor : #1b1d1f;
    --secondaryColor : #383d41;
    --borderColor : #8da8ac;
    --themeDotBorder : #FFF;
    --previewBg : rgba(71, 102, 131, 0.8);

    --mainText : #0e0d0d; 
    --secondaryText : #0c0b0b;

    --previewShadow : #959ca1;
    --buttonColor : #434849;
}
